$color-white: #ffffff;
$color-background: #fffbf9;

$color-purple: #f5ebff;
$color-green: #2daf73;
$color-green-dark: #207c51;
$color-gray-dark: #888888;
$color-gray: #c2c2c2;
$color-gray-light: #ebebeb;
$color-blue-light: #70b8d4;
$color-blue: #2d8aaf;
$color-blue-dark: #1e5e77;
$color-red: #e65d5d;
$color-red-dark: #e42f2f;
$color-warning: #dbdd4e;
$color-warning-dark: #a0a139;
$color-info:#5caafd;
$color-info-dark: #3b98fc;
